@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*擴充專案的全站樣式*/
  html {
    font-family: Noto Sans TC, system-ui, sans-serif;
  }
  body {
    color: white;
    background-color: black;
  }
  a {
    display: block;
  }
}

@layer components {
  /*自組元件*/
}

@layer utilities {
  /*自組樣式*/
}
